### 키값 받아오기

In [1]:
import os
keyPath=os.path.join(os.getcwd(),'src','key.properties')
print keyPath

C:\Users\JUNYONG\Documents\ProjectRoot\src\key.properties

In [2]:
f=open(keyPath,'r')
lines=f.readlines()
print lines

['dataseoul=666568534139327035364559544c4c\n', 'gokr=luw%2FZLs92vz56SQtTakvSTQCzzfI7JDuIdRv4TV6X8jzONzHMGhbfMxDp%2BDTbzUB%2FQiY7zYdX%2BKEyc%2FaX4YyMg%3D%3D\n']

In [3]:
d=dict()
for line in lines:
    row=line.split('=')
    d[row[0]]=row[1].strip()
print d

{'dataseoul': '666568534139327035364559544c4c', 'gokr': 'luw%2FZLs92vz56SQtTakvSTQCzzfI7JDuIdRv4TV6X8jzONzHMGhbfMxDp%2BDTbzUB%2FQiY7zYdX%2BKEyc%2FaX4YyMg%3D%3D'}

In [4]:
def getKey(keyPath):
    d=dict()
    f=open(keyPath,'r')
    for line in lines:
        row=line.split('=')
        d[row[0]]=row[1].strip()
    return d

In [5]:
keyPath=os.path.join(os.getcwd(),'src','key.properties')

key=getKey(keyPath)

In [6]:
key['gokr']

'luw%2FZLs92vz56SQtTakvSTQCzzfI7JDuIdRv4TV6X8jzONzHMGhbfMxDp%2BDTbzUB%2FQiY7zYdX%2BKEyc%2FaX4YyMg%3D%3D'

## 공공데이터 연탄소비

* OpenAPI 활용가이드에 서비스 목록을 들어가서 서비스명을 찾아낸다. 서비스ID는 아님
* 그 서비스에 따른 오퍼레이션 목록에서 오퍼레이션명을 찾아낸다.

* 무연탄 생산현황에 대한 open api 자료

In [7]:
SERVICE='production'
OPERATION_NAME='procList'
#param1=os.path.join(SERVICE, OPERATION_NAME)
param1=SERVICE+'/'+OPERATION_NAME
print param1

production/procList

* 국내 연탄소비 현황 open api 자료

In [8]:
SERVICE='consumption'
OPERATION_NAME='csList'
#param1=os.path.join(SERVICE, OPERATION_NAME)
param1=SERVICE+'/'+OPERATION_NAME
print param1

consumption/csList

* 무연탄 수급 현황 open api 자료

In [61]:
SERVICE='supplyndemand'
OPERATION_NAME='sndList'
#param1=os.path.join(SERVICE, OPERATION_NAME)
param1=SERVICE+'/'+OPERATION_NAME
print param1

supplyndemand/sndList

* 국내 탄광 현황 open api 자료

In [9]:
import urllib
d=dict()
d['pageNo']='1'
d['numOfRows']='100000000'
param2=urllib.urlencode(d)
print param2

numOfRows=100000000&pageNo=1

In [10]:
params=param1+'?'+'ServiceKey='+key['gokr']+'&'+param2
print params

consumption/csList?ServiceKey=luw%2FZLs92vz56SQtTakvSTQCzzfI7JDuIdRv4TV6X8jzONzHMGhbfMxDp%2BDTbzUB%2FQiY7zYdX%2BKEyc%2FaX4YyMg%3D%3D&numOfRows=100000000&pageNo=1

In [11]:
import urlparse
url='https://www.kocoal.or.kr/openapi-data/service/'
myurl=urlparse.urljoin(url,params)
print myurl

https://www.kocoal.or.kr/openapi-data/service/consumption/csList?ServiceKey=luw%2FZLs92vz56SQtTakvSTQCzzfI7JDuIdRv4TV6X8jzONzHMGhbfMxDp%2BDTbzUB%2FQiY7zYdX%2BKEyc%2FaX4YyMg%3D%3D&numOfRows=100000000&pageNo=1

## Twitter로 연탄에 대한 데이터 가져오기

In [1]:
import os
keyPath=os.path.join(os.getcwd(),'src','twitter4j.properties')
print keyPath

C:\Users\JUNYONG\Documents\ProjectRoot\src\twitter4j.properties

In [2]:
f=open(keyPath,'r')
lines=f.readlines()
print lines

['CONSUMERKEY=gwrvqhOmYa1fjRGZSKLESBTb3\n', 'CONSUMERSECRET=79JuPCIHeTiBT15vMkudeIehcclNJnTdkVBBzDLXuRyBHfJa3b\n', 'ACCESSTOKEN=784949607843233792-315FVLqty0WSELU4oApHwz0EKEc6DqG\n', 'ACCESSTOKENSECRET=nmw3GUVrLMgcpBIhOqZ5k9roaTEodGGUIBP55AqSc1Juo']

In [3]:
d=dict()
for line in lines:
    row=line.split('=')
    d[row[0]]=row[1].strip()
print d

{'CONSUMERKEY': 'gwrvqhOmYa1fjRGZSKLESBTb3', 'ACCESSTOKENSECRET': 'nmw3GUVrLMgcpBIhOqZ5k9roaTEodGGUIBP55AqSc1Juo', 'ACCESSTOKEN': '784949607843233792-315FVLqty0WSELU4oApHwz0EKEc6DqG', 'CONSUMERSECRET': '79JuPCIHeTiBT15vMkudeIehcclNJnTdkVBBzDLXuRyBHfJa3b'}

In [4]:
def getKey(keyPath):
    d=dict()
    f=open(keyPath,'r')
    for line in lines:
        row=line.split('=')
        d[row[0]]=row[1].strip()
    return d

In [5]:
keyPath=os.path.join(os.getcwd(),'src','twitter4j.properties')
key=getKey(keyPath)

* Twitter 라이브러리

In [6]:
import twitter

auth = twitter.oauth.OAuth(key['ACCESSTOKEN'],key['ACCESSTOKENSECRET'],
                            key['CONSUMERKEY'], key['CONSUMERSECRET'])
_client = twitter.Twitter(auth=auth)
print _client

<twitter.api.Twitter object at 0x0000000003E7C588>

In [14]:
q = '#나눔연탄'
count = 20
max_id = '803734833885085696'
# since_id = '795328763802198017' 
# 트위터 글을 눌렀을때 뜨는 뒤에 번호가 max_id이다.
# See https://dev.twitter.com/docs/api/1.1/get/search/tweets 
search_results = _client.search.tweets(q=q, count=count)
statuses = search_results['statuses']
import json

f=open('ds_kocoal_3.txt','w')
for i,tweet in enumerate(statuses):
    print i,tweet['id'],tweet['text']
    j=json.dumps([i,tweet['id'],tweet['text']])
    f.write(j)
f.close()

In [15]:
print len(statuses)
print type(statuses)

20
<type 'list'>

* 하루에 일정량의 데이터를 가져오는 작업을 하였다

In [16]:
import json

f=open('ds_kocoal_3.txt','w')
for i,tweet in enumerate(statuses):
    print i,tweet['id'],tweet['text']
    j=json.dumps([i,tweet['id'],tweet['text']])
    f.write(j)
f.close()

0 807257725843304448 RT @EduYonhap: 전남담양고, 독거노인 찾아 사랑의 연탄기부 봉사 https://t.co/koV16AKNUg #독거노인 #연탄
1 807257244609826820 전남담양고, 독거노인 찾아 사랑의 연탄기부 봉사 https://t.co/koV16AKNUg #독거노인 #연탄
2 806819584124686336 #22구공탄
간만에 찾은 #연탄구이
추억속으로 여행을 하는듯
잘 먹었다.
#춘천여행 #춘천맛집 #연탄구이 #삼겹살 #연탄
#강원여행 #강원맛집 https://t.co/388tlB1DVh
3 806478300285530112 연탄으로 만든 캔들인데 불이잘안붙을거라고 하시면서 주셨다ㅋㅋㅋㅋㅋㅋㅋ #연탄 #사랑의연탄나눔운동 감사합니다😆 https://t.co/tBs30QwUzJ
4 806463979887280130 RT @EduYonhap: 인천송천고, 사랑의 연탄 나눔 봉사활동 실시 https://t.co/ZLiZeAoZQh #송천고 #학생기자 #연탄
5 806073522443284481 [#인천 신천지 자원봉사단] #사랑의 온정 담아 #김장 및 #연탄 나눔 봉사 https://t.co/LTVVwPkhTl
6 806008114801577984 인천송천고, 사랑의 연탄 나눔 봉사활동 실시 https://t.co/ZLiZeAoZQh #송천고 #학생기자 #연탄
7 805697649991004160 겨울철 #난방기구 사용 시 일산화탄소 중독을 주의하세요

#일산화탄소 중독은 #연탄 땔떼나 있었던
얘기같지만 그렇지가 않습니다
 생활속에서 사고를 예방하세요!

#따뜻하게 #안전하게! https://t.co/4J6bGLWxkW
8 805664560829136896 연탄왔다 전해라~

추운 겨울 무사히
보내실 수 있게
사랑을 나눠드립니다😍

#레삐 #구레이쓰이온 #repit #createion #레삐유 #repitu
#연탄봉사 #사랑나눔 #훈훈한연말 #나눔 #연탄은행 #연탄
9 805656569924849664 RT @people_sd: #연탄 한 장의 무게는? 3.6kg
사람의 체온 36도에서 영감을 얻은 따뜻한 기업철학을 담았다고 하는데요.
#성동구 #바르게살기운동 회원들이 지금, 연탄보일러로 겨울을 나는 이웃에 사랑을 나르고 있습니다.
춥지만, 마음만…
10 805647364178313217 #연탄 한 장의 무게는? 3.6kg
사람의 체온 36도에서 영감을 얻은 따뜻한 기업철학을 담았다고 하는데요.
#성동구 #바르게살기운동 회원들이 지금, 연탄보일러로 겨울을 나는 이웃에 사랑을 나르고 있습니다.… https://t.co/heyGWXWPSs
11 805585506427731968 [상주상무 X 상주적십자병원]
지난주 금요일 사랑의 연탄나눔을 실시하였습니다!

추운 날씨를 따뜻하게 만들었던 현장,
사진으로 만나보세요 :)
☞ https://t.co/6iHdPzSP2v [사회공헌]… https://t.co/4ZE26Ivwa5
12 805571328480641024 추운 겨울 어르신들이 따듯하게 보낼 수 있다면 😌
#나눔더하기 #연탄 #장호원 #봉사활동 @ 이천 장호원 https://t.co/zm15yt5C8Y
13 805292878796824576 축구를 통한 사랑 나눔... SHFC 나눔 봉사단 발대식 #축구 #봉사 #나눔 #연탄 박상호 기자 https://t.co/5EnQZ1agH5  https://t.co/sOCgt15qrf #오마이뉴스
14 805284860038234112 RT @OhmyNews_Korea: 축구를 통한 사랑 나눔... SHFC 나눔 봉사단 발대식 #축구 #봉사 #나눔 #연탄 박상호 기자 https://t.co/NcQiFTIuZp
15 805284608451362817 축구를 통한 사랑 나눔... SHFC 나눔 봉사단 발대식 #축구 #봉사 #나눔 #연탄 박상호 기자 https://t.co/NcQiFTIuZp
16 804894370663047168 연탄 위에서 맛있게 익어 갓나온
연탄불고기와 소주한잔.
#연탄 #연탄불고기 #맛집 #구월동맛집 #연탄돼지불고기 #맛스타그램 #먹스타그램 #일상 #사진 #캐논 #캐논카메라… https://t.co/IBrNiOcDBh
17 804878191781216256 연탄 위에서 지글지글~
#연탄 #연탄불고기 #맛집 #구월동맛집 #연탄돼지불고기 #맛스타그램 #먹스타그램 #일상 #사진 #캐논 #캐논카메라 #캐논파워샷 #캐논하이엔드카메라… https://t.co/VDWKKE03Lu
18 804584634575007745 RT @iamkepco: #에너지취약계층 에게 #연탄 전달 해 드렸어요 #따뜻한겨울♡ 되셨으면 좋겠습니다 #사랑의연탄나눔 을 위해 #한전봉사단 이 전국곳곳을 찾아갈께요~ https://t.co/gr667MXhRG https://t.co/9MzneWO…
19 804581401672630272 RT @iamkepco: #에너지취약계층 에게 #연탄 전달 해 드렸어요 #따뜻한겨울♡ 되셨으면 좋겠습니다 #사랑의연탄나눔 을 위해 #한전봉사단 이 전국곳곳을 찾아갈께요~ https://t.co/gr667MXhRG https://t.co/9MzneWO…

## 네이버 블로그

* python 3.0 버전에서 가능함. import urllib.request를 2.7 버전에서는 지원하지 않음
* anaconda 3을 설치하여 밑의 코드를 실행시켰음

In [ ]:
import os
import sys
import urllib.request
f=open('kocal_1.txt','w')
client_id = "t1AO0ga_EPSzZpjR9U9B"
client_secret = "nTQYgvrVHp"
encText = urllib.parse.quote("나눔연탄")
url = "https://openapi.naver.com/v1/search/blog?query=" + encText +"&display=100&start=21"# json 결과
# url = "https://openapi.naver.com/v1/search/blog.xml?query=" + encText # xml 결과
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)
f.write(response_body.decode('utf-8'))
f.close()

## Spark로 예측해보기

In [1]:
import os
import findspark
spark_home='C:/Users/JUNYONG/Downloads/spark-1.6.0-bin-hadoop2.6'
findspark.init(spark_home)

In [2]:
import pyspark
conf=pyspark.SparkConf()
conf=pyspark.SparkConf().setAppName("myApp")
sc=pyspark.SparkContext(conf=conf)

In [3]:
sc._conf.getAll()

[(u'spark.app.name', u'myApp'),
 (u'spark.rdd.compress', u'True'),
 (u'spark.serializer.objectStreamReset', u'100'),
 (u'spark.master', u'local[*]'),
 (u'spark.submit.deployMode', u'client')]

In [4]:
from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)

In [7]:
df = sqlCtx.createDataFrame(
    [
        ['2008','4231','2773','10','43','7057','2289','1960','11','4260','164','607','2026','1419','2797','323.342','293.469','412.916','50.626','29.985','42.528','38.11','55.989','127.152','268.88','340.842','305.053','2288.892'],
        ['2009','2797','2519','190','29','5535','1941','1360','8','3309','93','537','1596','430','2226','249.303','191.966','180.118','100.626','54.824','47.206','26.459','44.808','156.725','321.714','299.268','267.727','1940.744'],
        ['2010','2226','2084','170','71','4551','1859','839','0','2698','66','497','1308','288','1853','234.641','167.639','159.969','125.798','63.758','46.254','42.982','61.512','113.88','300.624','311.184','230.551','1858.792'],
        ['2011','1853','2094','100','48','4085','1822','543','0','2365','64','514','1142','166','1720','254.689','143.102','151.664','84.454','51.582','33.439','18.993','44.476','162.341','314.056','280.424','279.194','1821.414'],
        ['2012','1720','1786','192','46','4052','1833','591','0','2424','77','471','1080','125','1628','205.683','193.951','139.051','78.859','36.509','29.128','16.733','29.896','121.811','316.668','374.121','290.507','1832.917'],
        ['2013','1628','1815','265','11','3697','1917','323','0','2240','98','435','924','156','1457','268.641','170.729','120.289','91.872','46.027','26.879','46.855','50.805','140.759','310.519','362.863','281.183','1917.421'],
        ['2014','1457','1748','249','35','3489','1629','250','0','1879','111','600','899','25','1610','201.723','142.351','103.125','54.664','34.995','21.917','17.644','36.146','135.793','263.303','318.678','298.553','1628.892'],
        ['2015','1610','1764','134','24','3532','1473','245','0','1718','268','631','899','0','1798','197.418','138.425','108.971','58.09','25.151','20.94','14.562','27.343','101.853','251.009','275.119','254.183','1473.064'],
    ],
    ['year','partA1','partA2','partA3','partA4','partASum','partB1','partB2','partB3','partBSum','partC1','partC2','partC3','partC4','partCSum','month1','month2','month3','month4','month5','month6','month7','month8','month9','month10','month11','month12','monthSum']
)

In [8]:
df.printSchema()

root
 |-- year: string (nullable = true)
 |-- partA1: string (nullable = true)
 |-- partA2: string (nullable = true)
 |-- partA3: string (nullable = true)
 |-- partA4: string (nullable = true)
 |-- partASum: string (nullable = true)
 |-- partB1: string (nullable = true)
 |-- partB2: string (nullable = true)
 |-- partB3: string (nullable = true)
 |-- partBSum: string (nullable = true)
 |-- partC1: string (nullable = true)
 |-- partC2: string (nullable = true)
 |-- partC3: string (nullable = true)
 |-- partC4: string (nullable = true)
 |-- partCSum: string (nullable = true)
 |-- month1: string (nullable = true)
 |-- month2: string (nullable = true)
 |-- month3: string (nullable = true)
 |-- month4: string (nullable = true)
 |-- month5: string (nullable = true)
 |-- month6: string (nullable = true)
 |-- month7: string (nullable = true)
 |-- month8: string (nullable = true)
 |-- month9: string (nullable = true)
 |-- month10: string (nullable = true)
 |-- month11: string (nullable = true)
 |-- month12: string (nullable = true)
 |-- monthSum: string (nullable = true)

In [9]:
from pyspark.ml.feature import StringIndexer
labelIndexer = StringIndexer(inputCol="year", outputCol="label")
model=labelIndexer.fit(df)

In [14]:
df1=model.transform(df)

* 연탄데이터 정제 spark로 machine learning 하기위해

In [41]:
df = sqlCtx.createDataFrame(
    [
        ['2008','2773','10','2289','2026','1419','323.342','293.469','305.053'],
        ['2009','2519','190','1941','1596','430','249.303','191.966','267.727'],
        ['2010','2084','170','1859','1308','288','234.641','167.639','230.551'],
        ['2011','2094','100','1822','1142','166','254.689','143.102','279.194'],
        ['2012','1786','192','1833','1080','125','205.683','193.951','290.507'],
        ['2013','1815','265','1917','924','156','268.641','170.729','281.183'],
        ['2014','1748','249','1629','899','25','201.723','142.351','298.553'],
        ['2015','1764','134','1473','899','0','197.418','138.425','254.183'],
    ],
    ['year','partA2','partA3','partB1','partC3','partC4','month1','month2','month12']
)

In [42]:
df.printSchema()

root
 |-- year: string (nullable = true)
 |-- partA2: string (nullable = true)
 |-- partA3: string (nullable = true)
 |-- partB1: string (nullable = true)
 |-- partC3: string (nullable = true)
 |-- partC4: string (nullable = true)
 |-- month1: string (nullable = true)
 |-- month2: string (nullable = true)
 |-- month12: string (nullable = true)

In [43]:
from pyspark.ml.feature import StringIndexer
labelIndexer = StringIndexer(inputCol="partB1", outputCol="label")
model=labelIndexer.fit(df)

In [44]:
df1=model.transform(df)
df1.printSchema()

root
 |-- year: string (nullable = true)
 |-- partA2: string (nullable = true)
 |-- partA3: string (nullable = true)
 |-- partB1: string (nullable = true)
 |-- partC3: string (nullable = true)
 |-- partC4: string (nullable = true)
 |-- month1: string (nullable = true)
 |-- month2: string (nullable = true)
 |-- month12: string (nullable = true)
 |-- label: double (nullable = true)

In [45]:
df1.show()

+----+------+------+------+------+------+-------+-------+-------+-----+
|year|partA2|partA3|partB1|partC3|partC4| month1| month2|month12|label|
+----+------+------+------+------+------+-------+-------+-------+-----+
|2008|  2773|    10|  2289|  2026|  1419|323.342|293.469|305.053|  3.0|
|2009|  2519|   190|  1941|  1596|   430|249.303|191.966|267.727|  4.0|
|2010|  2084|   170|  1859|  1308|   288|234.641|167.639|230.551|  1.0|
|2011|  2094|   100|  1822|  1142|   166|254.689|143.102|279.194|  6.0|
|2012|  1786|   192|  1833|  1080|   125|205.683|193.951|290.507|  5.0|
|2013|  1815|   265|  1917|   924|   156|268.641|170.729|281.183|  0.0|
|2014|  1748|   249|  1629|   899|    25|201.723|142.351|298.553|  7.0|
|2015|  1764|   134|  1473|   899|     0|197.418|138.425|254.183|  2.0|
+----+------+------+------+------+------+-------+-------+-------+-----+

In [46]:
labelIndexer1 = StringIndexer(inputCol="partA2", outputCol="att1")
model=labelIndexer1.fit(df1)
df2=model.transform(df1)

In [47]:
labelIndexer2 = StringIndexer(inputCol="month1", outputCol="att2")
model=labelIndexer2.fit(df2)
df3=model.transform(df2)

In [48]:
labelIndexer3 = StringIndexer(inputCol="month2", outputCol="att3")
model=labelIndexer3.fit(df3)
df4=model.transform(df3)

In [49]:
labelIndexer4 = StringIndexer(inputCol="month12", outputCol="att4")
model=labelIndexer4.fit(df4)
df5=model.transform(df4)

In [50]:
df5.printSchema()

root
 |-- year: string (nullable = true)
 |-- partA2: string (nullable = true)
 |-- partA3: string (nullable = true)
 |-- partB1: string (nullable = true)
 |-- partC3: string (nullable = true)
 |-- partC4: string (nullable = true)
 |-- month1: string (nullable = true)
 |-- month2: string (nullable = true)
 |-- month12: string (nullable = true)
 |-- label: double (nullable = true)
 |-- att1: double (nullable = true)
 |-- att2: double (nullable = true)
 |-- att3: double (nullable = true)
 |-- att4: double (nullable = true)

In [51]:
df5.show()

+----+------+------+------+------+------+-------+-------+-------+-----+----+----+----+----+
|year|partA2|partA3|partB1|partC3|partC4| month1| month2|month12|label|att1|att2|att3|att4|
+----+------+------+------+------+------+-------+-------+-------+-----+----+----+----+----+
|2008|  2773|    10|  2289|  2026|  1419|323.342|293.469|305.053|  3.0| 3.0| 5.0| 0.0| 5.0|
|2009|  2519|   190|  1941|  1596|   430|249.303|191.966|267.727|  4.0| 5.0| 0.0| 6.0| 3.0|
|2010|  2084|   170|  1859|  1308|   288|234.641|167.639|230.551|  1.0| 7.0| 3.0| 2.0| 6.0|
|2011|  2094|   100|  1822|  1142|   166|254.689|143.102|279.194|  6.0| 4.0| 2.0| 4.0| 7.0|
|2012|  1786|   192|  1833|  1080|   125|205.683|193.951|290.507|  5.0| 0.0| 4.0| 3.0| 4.0|
|2013|  1815|   265|  1917|   924|   156|268.641|170.729|281.183|  0.0| 2.0| 6.0| 1.0| 0.0|
|2014|  1748|   249|  1629|   899|    25|201.723|142.351|298.553|  7.0| 1.0| 7.0| 5.0| 1.0|
|2015|  1764|   134|  1473|   899|     0|197.418|138.425|254.183|  2.0| 6.0| 1.0| 7.0| 2.0|
+----+------+------+------+------+------+-------+-------+-------+-----+----+----+----+----+

In [52]:
from pyspark.mllib.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

va = VectorAssembler(inputCols=["att1","att2","att3","att4"],outputCol="features")
df6 = va.transform(df5)

In [53]:
df6.printSchema()

root
 |-- year: string (nullable = true)
 |-- partA2: string (nullable = true)
 |-- partA3: string (nullable = true)
 |-- partB1: string (nullable = true)
 |-- partC3: string (nullable = true)
 |-- partC4: string (nullable = true)
 |-- month1: string (nullable = true)
 |-- month2: string (nullable = true)
 |-- month12: string (nullable = true)
 |-- label: double (nullable = true)
 |-- att1: double (nullable = true)
 |-- att2: double (nullable = true)
 |-- att3: double (nullable = true)
 |-- att4: double (nullable = true)
 |-- features: vector (nullable = true)

In [54]:
trainDf=df6.select('label','features')
trainDf.printSchema()

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)

In [55]:
trainDf.show()

+-----+-----------------+
|label|         features|
+-----+-----------------+
|  3.0|[3.0,5.0,0.0,5.0]|
|  4.0|[5.0,0.0,6.0,3.0]|
|  1.0|[7.0,3.0,2.0,6.0]|
|  6.0|[4.0,2.0,4.0,7.0]|
|  5.0|[0.0,4.0,3.0,4.0]|
|  0.0|[2.0,6.0,1.0,0.0]|
|  7.0|[1.0,7.0,5.0,1.0]|
|  2.0|[6.0,1.0,7.0,2.0]|
+-----+-----------------+

In [56]:
from pyspark import SparkContext, SQLContext
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.classification import DecisionTreeClassifier

In [57]:
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features")
pipeline = Pipeline(stages=[labelIndexer,labelIndexer1,labelIndexer2,labelIndexer3,labelIndexer4,va,dt])
model = pipeline.fit(df)
predictions = model.transform(df)

In [58]:
predictions.select("prediction", "label", "features").show()

+----------+-----+-----------------+
|prediction|label|         features|
+----------+-----+-----------------+
|       3.0|  3.0|[3.0,5.0,0.0,5.0]|
|       4.0|  4.0|[5.0,0.0,6.0,3.0]|
|       1.0|  1.0|[7.0,3.0,2.0,6.0]|
|       6.0|  6.0|[4.0,2.0,4.0,7.0]|
|       5.0|  5.0|[0.0,4.0,3.0,4.0]|
|       0.0|  0.0|[2.0,6.0,1.0,0.0]|
|       7.0|  7.0|[1.0,7.0,5.0,1.0]|
|       2.0|  2.0|[6.0,1.0,7.0,2.0]|
+----------+-----+-----------------+